.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #868f9b;
    margin-bottom: 20px;
  
    .breadcrumb-item {
      display: flex;
      align-items: center;
  
      a {
        color: #868f9b;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      .breadcrumb-separator {
        margin: 0 8px;
      }
  
      .breadcrumb-current {
        color: #1f1f21;
        font-weight: bold;
      }
    }
  }
  