.footer {
  background-color: transparent;
  color: #000;
  padding: 40px 20px;
  width: 100%;

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    .footer-section {
      flex: 1;
      text-align: center;

      .footer-logo {
        height: 40px;
        margin-bottom: 15px;
      }

      .hotline,
      .phone-number {
        font-size: 14px;
      }

      .phone-number {
        font-weight: bold;
      }

      .social-icons {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 10px;

        a {
          img {
            width: 20px;
            height: 20px;
            transition: transform 0.3s ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
          }
        }
      }

      h4 {
        font-weight: bold;
        margin-bottom: 10px;
      }

      a {
        color: #000;
        text-decoration: none;
        margin: 5px 0;
        font-size: 14px;
        transition: color 0.3s;

        &:hover {
          color: #ff0000;
          text-decoration: underline;
        }
      }
    }

    .subscribe-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .email-input {
        margin-top: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 80%;
      }

      .subscribe-button {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        margin-top: 10px;
        font-weight: bold;
        transition: background-color 0.3s;

        &:hover {
          background-color: #ff0000;
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #868f9b;
  }
}
